# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules if you add them later
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build files if you add a build process later
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
